<body>
    <div class="full">
      <div class="fst">
        <label id="appname"><img src="smart-logo.png" ></label>
      <label id="pgname" style=" font-size: 25px;"><Strong>Employee</Strong></label>
      <button id="logoutbtn" mat-raised-button (click)="logout()" style="margin-right: 1cm;" >Logout</button>
      </div>
        <div class="second">
            <div class="left">
                <button class="quarter top-right" mat-raised-button color="primary" id="left-btn1" (click)="jobDesc()"><strong>JD</strong></button>
                <button class="quarter bottom-right" mat-raised-button color = "primary"id="left-btn2" (click)="empdash()"><strong>Dashboard</strong></button>
            </div>
            <div class="right">

            </div>
        </div>
    </div>
<!-- <div class="outer">
    <div class="header">
        <h1>SMART BUDDY</h1>
        <nav>
           <a routerLink="" routerLinkActive="active">Logout</a> -->
          <!-- <button class="button1" mat-raised-button (click)="checkLogin()" >LOGOUT</button>
        </nav>
        </div>
        <div class="main">
            <div class="left">
                <button class="button2" mat-raised-button (click)="checkLogin()" color="primary" >JDS</button>
                <button class="button2" mat-raised-button (click)="checkLogin()" color = "primary" >PROFILE</button>
            </div>
            <div class = "right">
                <img />
            </div>
        </div>
</div>  -->
</body>
